<!DOCTYPE html>
<html>
<body>

<h2>Buy product</h2>

<form action="/amazon.com/customer/buyProduct" method="post">
  <label for="product">Enter your product name:</label><br>
  <input type="text" id="product" name="product"><br><br>
  <input type="submit" value="Buy product">
</form> 

</body>
</html>