<!DOCTYPE html>
<html>
<body>

<h2>Customer signup</h2>

<form action="/ecommerce.com/customer/signup" target="_blank" method="post">
  <label for="email">Enter your email:</label><br>
  <input type="email" id="email" name="email"><br><br>
  <label for="pwd">Password:</label><br>
  <input type="password" id="pwd" name="pwd"><br><br>
  <label for="balance">Balance (between 0$ and 10000$):</label><br>
  <input type="number" id="balance" name="balance" min="0" max="10000"><br><br>
  <input type="submit" value="Sign Up">
</form> 

<p>Please fill the data above</p>

</body>
</html>