<!DOCTYPE html>
<html>
<body>

<h2>Delete product</h2>

<form action="/ecommerce.com/seller/deleteProduct" method="post">
  <label for="id">Product id:</label><br>
  <input type="text" id="id" name="id"><br><br>

  <input type="submit" value="Submit">
</form> 


</body>
</html>