<!DOCTYPE html>
<html>
<body>

<h2>Edit account</h2>

<form action="/amazon.com/customer/editAccount" method="post">
  <label for="id">Enter your ID:</label><br>
  <input type="id" id="id" name="id"><br><br>
  <label for="email">Enter your new email:</label><br>
  <input type="email" id="email" name="email"><br><br>
  <label for="pwd">Enter your new password:</label><br>
  <input type="password" id="pwd" name="pwd"><br><br>
  <label for="balance">Enter your new balance (between 0$ and 10000$):</label><br>
  <input type="number" id="balance" name="balance" min="0" max="10000"><br><br>
  
  <input type="submit" value="Submit">
</form> 


</body>
</html>